body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222831; /* Updated background color */
  color: #eee; /* Updated text color */
  font-family: Arial, sans-serif; /* Updated font family */
}

h1 {
  text-align: center;
  color: #0074a6; /* Updated heading color */
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  cursor: pointer;
  position: relative;
}

.tile {
  color: #eee; /* Updated text color */
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0074a6; /* Updated border style */
  background-color: #393e46; /* Updated tile background color */
}

.right-border {
  border-right: 2px solid #0074a6; /* Updated right border style */
}

.bottom-border {
  border-bottom: 2px solid #0074a6; /* Updated bottom border style */
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.7; /* Slightly increased opacity */
  color: #0074a6; /* Updated X color on hover */
}

.o-hover:hover::after {
  content: "O";
  opacity: 0.7; /* Slightly increased opacity */
  color: #f05454; /* Updated O color on hover */
}

.strike {
  position: absolute;
  background-color: #f05454; /* Updated strike background color */
}

.strike-row-1 {
  width: 100%;
  height: 4px;
  top: 15%;
}
.strike-row-2 {
  width: 100%;
  height: 4px;
  top: 48%;
}
.strike-row-3 {
  width: 100%;
  height: 4px;
  top: 83%;
}

.strike-column-1 {
  height: 100%;
  width: 4px;
  left: 15%;
}
.strike-column-2 {
  height: 100%;
  width: 4px;
  left: 48%;
}
.strike-column-3 {
  height: 100%;
  width: 4px;
  left: 83%;
}

.strike-diagonal-1 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 5%;
  transform: skewY(45deg);
}
.strike-diagonal-2 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 5%;
  transform: skewY(-45deg);
}

.game-over {
  text-align: center;
  border: 8px dashed #0074a6; /* Updated border style */
  padding: 15px; /* Updated padding */
  margin-top: 50px;
  font-size: 1.8em; /* Slightly increased font size */
  color: #0074a6; /* Updated text color */
}

.reset-button {
  margin-top: 30px; /* Adjusted margin */
  padding: 15px; /* Reduced padding */
  background-color: #0074a6;
  color: #eee; /* Updated text color */
  width: 100%;
  font-size: 1.5em;
  border: none; /* Removed button border */
  cursor: pointer;
}
